<hr>
<h2>{{titulo}}</h2>



<!-- Two way data-binding y evento click -->
<input type="text" [(ngModel)]="mi_marca" placeholder="Ingresar marca"><br>
<button (click)="getMarca()">Mostrar marca</button><br>
<button (click)="addMarca()">Agregar marca</button><br>
<p>{{mi_marca}}</p>



<!-- Directiva bucle ngFor -->
<p>Compra las zapatillas de las mejores marcas:</p>
<ul>
   <li *ngFor="let marca of marcas; let indice = index">
      {{indice + ' - ' + marca}}
      <button (click)="deleteMarca(indice)">Borrar marca</button>
   </li>
</ul>



<!-- Directiva condicional ngIf -->
<p>Las deportivas que tenemos disponibles son:</p>
<ul>
   <li *ngFor="let zapatilla of zapatillas">
      <span [ngStyle]="{'text-decoration': zapatilla.stock == false ? 'line-through' : 'none'}">
         {{zapatilla.nombre}} - <strong>{{zapatilla.precio}}$</strong>
      </span>

      <span *ngIf="zapatilla.precio <= 80" [style.background]="zapatilla.precio <= 80 ? 'green' : 'transparent'"
                                           [style.color]="zapatilla.precio <= 80 ? 'white' : 'black'"> ¡EN OFERTA!</span>
   </li>
</ul>



<!-- Directiva ngSwitch -->
<p>El color de la mayoria de nuestras zapatillas es:</p>
<input type="text" [(ngModel)]="color" placeholder="Ingresar color">

<ul [ngSwitch]="color">
   <li *ngSwitchCase="'yellow'">
      El color predominante es <span [ngStyle]="{background: color}">amarillo</span>
   </li>
   <li *ngSwitchCase="'red'">
      El color predominante es <span [ngStyle]="{background: color}">rojo</span>
   </li>
   <li *ngSwitchCase="'blue'">
      El color predominante es <span [ngStyle]="{background: color}">azul</span>
   </li>
   <li *ngSwitchCase="'orange'">
      El color predominante es <span [ngStyle]="{background: color}">naranja</span>
   </li>
   <li *ngSwitchDefault>
      El color predeterminado puede ser yellow, red, blue u orange
   </li>
</ul>